body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "title output"
        "button output";
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
}

h1 {
    grid-area: title;
    margin: 0;
    padding: 10px;
    font-family: 'Times New Roman', sans-serif;
}

#scriptRun {
    grid-area: button;
    margin-top: 10px;
    margin-left: 10px;
    align-self: start;
    justify-self: start;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif;
    background-color: #5d9159;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

    #scriptRun:hover {
        background-color: #396136;
    }

    #scriptRun:active {
        background-color: #334d31;
    }

#outputSection {
    grid-area: output;
    text-align: right;
    position: relative;
    font-family: 'Times New Roman', sans-serif;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    grid-area: output;
    margin: 0;
    padding: 10px;
    text-align: right;
    font-family: 'Times New Roman', sans-serif;
}

#pabList,
#npabList {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', sans-serif;
}

.image-button {
    margin-bottom: 10px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #5d9159;
    color: white;
    max-width: 300px;
}

    .image-button:hover {
        background-color: #396136;
    }

    .image-button:active {
        background-color: #334d31;
    }


#brightnessSlider {
    align-self: flex-end;

}

#modal {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 40%;
    max-height: 60vh;
    background-color: gray;
    overflow: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

#modalContent {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#modal img {
    max-width: calc(40vw - 10px);
    max-height: calc(80vh - 10px);
    display: block;
    margin: 0 auto;
}
